<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>First</title>
=======
  <title>App1</title>
>>>>>>> b405fc7d6127186d67eb0a04887acab794c7f651
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
